body {
  margin: 0px;
}

:root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    width: auto;
  height: 2000px;
  
}

.wrapper-in {
      top: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 5;
  width: 100%;
      padding: 20px;
    box-sizing: border-box;
  align-items: flex-end;
}

button.eba {
    display: flex;
    bottom: 0;
    position: fixed;
    width: 98%;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    background: black;
    color: white;
    border-radius: 100px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
    box-sizing: border-box;
    padding: 20p;
    margin: 20p;
    left: 50%;
    right: 0;
    /* translate: 50%; */
    transform: translateX(-50%);
}


@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .footer-menu {
    padding-bottom: calc(var(--safe-area-inset-bottom) + 1rem);
  }
}